.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

  .menu-containerTop {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

    .menuList-top {
      display: flex;
      gap: 20px;
    }

    .profileDetails :nth-child(1) {
      font-size: 14px;
      font-weight: 600;
    }

    .profileDetails :nth-child(2) {
      font-size: 12px;
      font-weight: 400;
    }

  .menuList-middle {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

    .menuItem {
      display: flex;
      gap: 30px;
      align-items: center;
    }

    .active {
      border-bottom: 3px solid red;
      width: 25px;
      font-weight: 600;
    }

@media (max-width: 1281px) {
  .chartportfolioContainer {
    margin-left: 60px !important;
  }
}

@media (max-width: 1024px) {
  .menu-container {
    padding: 10px 0;
  }

  .chartportfolioContainer {
    margin-left: 30px !important;
  }
}

@media (max-width: 767px) {

  .chartportfolioContainer {
    margin-left: 0 !important;
  }

  .menu-container {
    padding: 10px 0;
  }

  .menuList-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .profileDetails {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .menu-container {
    padding: 10px 0;
    .menu-containerTop {
      display: flex;
      flex-direction: row;
      justify-content: space-between  ;
      align-items: center;
      gap: 10px;
      width: 59%;
      background: white;
      z-index: 1;
      .menuList-middle {
        gap: 10px;
        margin-left: 130px;

        .menuList-top {
          text-align: left;
        }
      }
    }

    .logout {
      display: none;
    }
  }
}
