
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

  .heroCard-left {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
    align-items: end;
    grid-row: 1;
    grid-column: 1;
  }

    .heroCard-left :nth-child(1) {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      color: #424356;
    }

    .heroCard-left :nth-child(2) {
      margin-left: 70px;
      font-size: 12px;
      color: #9a9bb1;
    }

    .heroCard-left :nth-child(3) {
      background-color: #424356;
      width: 15%;
      border-radius: 10px;
      display: flex;
      justify-content: flex-end;
    }

    .heroCard-left :nth-child(4) {
      position: absolute;
      top: 245px;
      left: 490px;
      width: 11%;
    }

  .chartBackground {
    grid-row: 1;
    grid-column: 2 / span 2;
    background-color: white;
    border-radius: 20px;
  }

    .chartTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    }

      .chartTitle ul {
        display: flex;
        margin-left: 10px;
      }

        .chartTitle ul li {
          list-style: none;
          font-size: 12px;
          font-weight: 600;
          color: #9a9bb1;
          margin-right: 20px;
        }

        .chartTitle > ul > li:nth-child(1) {
          border: 1px solid black;
          padding: 3px 5px;
          border-radius: 7px;
        }

    .heroPortfolioValue {
      position: absolute;
      z-index: 2;
      top: 220px;
      right: 175px;
    }

      .heroPortfolioValue :nth-child(2) {
        font-weight: 600;
        font-size: 25px;
        color: #6b6b6b;
      }

      .heroPortfolioValue :nth-child(3) {
        font-weight: 600;
        color: #5bd6d4;
      }

      .recharts-default-legend {
        margin-bottom: 10px !important;
        padding-left: 30px !important;
      }
  
      .recharts-surface {
        background-color: white;
        border-radius: 15px;
      }

@media (max-width: 1281px) {
  .heroCard-right {
    width: 99%;
  }

  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 30px;
  }

  .chartBackground {
    grid-column: 1 / span 2;
  }

  .heroPortfolioValue {
    position: absolute;
    top: 250px;
    right: 155px;
  }

  .heroCard-left :nth-child(1) {
    font-size: 15px;
    font-weight: 600;
  }

  .heroCard-left :nth-child(2) {
    margin-left: 70px;
    font-size: 10px;
  }

  .heroCard-left :nth-child(4) {
    top: 289px;
    left: 470px;
    width: 11%;
  }
}

@media (max-width: 1024px) {
  .heroCard-right {
    width: 105%;
  }

  .hero-container {
    gap: 10px;
    margin-top: 30px;
  }

  .chartBackground {
    grid-column: 1 / span 2;
  }

  .heroCard-left :nth-child(1) {
    font-size: 12px;
    font-weight: 600;
  }

  .heroCard-left :nth-child(2) {
    margin-left: 40px;
    font-size: 9px;
  }

  .heroCard-left :nth-child(3) {
    border-radius: 3px;
  }

  .heroCard-left :nth-child(4) {
    top: 315px;
    left: 330px;
    width: 11%;
  }

  .heroPortfolioValue {
    position: absolute;
    top: 280px;
    right: 165px;
  }

    .heroPortfolioValue :nth-child(1) {
      font-weight: 600;
      font-size: 14px;
      color: #6b6b6b;
    }
    .heroPortfolioValue :nth-child(2) {
      font-weight: 600;
      font-size: 18px;
      color: #6b6b6b;
    }

    .heroPortfolioValue :nth-child(3) {
      font-size: 10px;
      font-weight: 700;
      color: #5bd6d4;
    }
}

@media (max-width: 767px) {
  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .heroCard-right {
    width: 100%;
  }

  .heroCard-left :nth-child(4) {
    top: 315px;
    left: 330px;
    width: 0;
  }

  .heroCard-left {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
  }

  .heroCard-left :nth-child(2) {
    margin-left: 0;
    font-size: 9px;
  }

  .heroCard-left :nth-child(3) {
    border-radius: 8px;
  }

  .heroPortfolioValue {
    position: absolute;
    top: 350px;
    right: 180px;
  }

  .chartBackground {
    border-radius: 10px;
  }

}

@media (max-width: 480px) {
  .heroPortfolioValue {
    position: absolute;
    top: 390px;
    right: 120px;
  }
}